.modules {
  flex: 1;
  gap: var(--gap);
  display: flex;
  flex-direction: column;
  padding-bottom: var(--shadow-gap);
}
.modules * {
  flex: 1;
  min-width: fit-content;
}
.module {
  flex: 1;
  gap: var(--gap);
  display: flex;
  flex-direction: row;
}
.module > * {
  font-family: 'Atari', monospace;
  font-weight: 100;
  font-size: 1.5em;
  text-align: left;
  border-width: 0px;
}
.module > .delete {
  text-align: center;
  min-width: 32px;
  flex: 0;
  padding: 0px;
}
.module > * {
  background-color: #fff0
}
.module.selected * {
  background: var(--active) !important;
}
