/* import font */
@import url('http://fonts.cdnfonts.com/css/atari');

:root {
  --theme: #00cfff;
  --alternate: #0056d9;
  --active: #0f0;
  --accent: #f90;
  --contrast: #000;
  --highlight: #ff008f;
  --lowlight: #3a0048;
  --alert: #f00;
  --shadow-size: 5px;
  --shadow-blur: 2.5px;
  --shadow-gap: 2px;
  --text-blur: 0.75px;
  --code-size: 22px;
  --code-color: #ffea00;
  --button-padding: 0.5em;
  --gap: 0px;
  --font: 'Atari', monospace
}

body {
  background: var(--contrast);
  color: var(--theme);
  font-family: var(--font);
  font-smooth: never;
  user-select: none;
}
button:active {
  cursor: pointer;
}
button, label {
  padding-left: var(--button-padding);
  padding-right: var(--button-padding);
  cursor: pointer;
  text-align: center;
}
button, input, textarea, label {
  background: transparent;
  color: var(--theme);
  font-family: var(--font) !important;
  border-width: 0px;
  font-size: 1.5em;
}
input:focus, textarea:focus {
  outline: none;
  caret-color: var(--active) !important;
}
input, textarea {
  border-width: 0px;
  width: 100%;
}
textarea {
  font-size: var(--code-size) !important;
  min-height: var(--code-size);
}

/* UTIL */
.header {
  z-index: 11;
}
.header, .title, .label {
  font-weight: 900;
  filter: blur(var(--text-blur));
  color: var(--highlight);
}
.header, .title {
  background: var(--lowlight);
}
.title {
  text-align: center;
  font-size: 1.75em;
  box-shadow: 0px var(--shadow-size) 0px var(--highlight);
  margin-bottom: var(--shadow-gap);
}
.header {
  text-align: center;
  writing-mode: vertical-lr;
  font-size: 2em;
  margin-right: var(--shadow-gap);
  box-shadow: var(--shadow-size) 0px 0px var(--highlight);
}
.label {
  font-size: 1.5em;
  flex: 0 !important;
  padding-right: 0.5em;
}
.hidden {
  display: none;
}
.v-flex, .h-flex {
  display: flex;
}
.h-flex {
  flex-direction: row;
}
.v-flex {
  flex-direction: column;
}
.v-flex *, .h-flex * {
  flex: 1;
}
.noflex {
  flex: 0;
}

/* OVERLAY */
#overlay {
  position: absolute;
  z-index: 10;
  resize: horizontal;
  overflow: auto;
  min-width: fit-content;
  background: #000a;
  margin-bottom: var(--shadow-gap);
  margin-right: var(--shadow-gap);
}
.component {
  margin-top: calc(-1 * var(--shadow-size));
  margin-left: calc(-1 * var(--shadow-size));
  margin-bottom: var(--shadow-size);
  margin-right: var(--shadow-size);
}
.component:hover > .header {
  color: var(--active);
  animation-duration: 0.5s;
  animation-name: sharpen-highlight-active-side;
  box-shadow: var(--shadow-size) 0px var(--shadow-blur) var(--active);
}

.selected {
  box-shadow: 0px 0px 40px var(--active) !important;
}

/* NODE VIEW */
#nodel {
  width: 100%;
  height: 100%;
}

.line-label {
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* TEMPLATES */
.basic {
  padding: 10px;
  font-size: 1.5em;
  color: var(--theme);
}
.basic + .group {
  box-shadow: var(--shadow-size) var(--shadow-size) 0px var(--accent);
  color: var(--accent);
}
.basic + .selected {
  background-color: var(--active);
  color: var(--contrast);
}

